.detailsTak{

    display :flex;
    }
.taskComponent{ 
    float: left;
    margin-left: 2%;
    background-color:rgba(66, 64, 64, 0.157);
    border-radius: 3%;
    width: 18%;
    height: 16%;
    margin-top: 1%;
}


.completeTaskBackGround{
    background-color: rgba(50, 150, 50, 0.863);
    color: rgba(255, 255, 255, 0.74);

}

.overDueTaskBackGround{
    background-color: rgba(192, 49, 49, 0.877);
    color: rgba(255, 255, 255, 0.74);

}


    
 
    .divBtnTask{
        margin-left: 10px;   
    }

    .deleteTaskBtn{
        float: right;
        text-align: right;
    }

.checkBoxComplete{

    background-color: rgba(192, 49, 49, 0.877);
    color: black;
    top:20px
}
